* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

section div div p {
    text-align: justify;
}


footer p {
    margin-bottom: 0;
}