* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.featured-articles {
    height: 50vh;
}

footer p {
    margin-bottom: 0;
}